#search {
    height: 40px;
    width: 620px;
    border: 2px solid #7a767a;
    border-radius: 0.5em 0.5em;
}

.container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
}
