#search {
    height: 40px;
    width: 620px;
    border: 2px solid #7a767a;
    border-radius: 0.5em 0.5em;
}

.container {
height: 100px;
width: 400px;
margin: 250px auto;
}

li{
    float: right;
    list-style-type: none;
}

a {
    padding: 10px;
    text-decoration: none;
}

div ul img{
    border-radius: 45%;
    
}

button{
    width: 150px;
    height: 40px;
    padding: 20px;
}

p{
    text-align: center;
}

